
.nav_menu{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-top: 180px;

}

.info{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 100px;
}

.logout{
  cursor: pointer;
}