.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px;
    margin: 0 auto 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    height: 88px;
    background-color: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    
}

.section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section_left{
    composes: section;
    justify-content: start;
}

.section_right{
    composes: section;
    justify-content: end;
}

.section_center{
    composes: section;
    justify-content: center;
}