.app{
  
}

::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    
    background-color: #2F2F37; 
}

::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}